.blog-index {
  list-style: none;

  .date {
    @media screen and (min-width: 900px) {
      float: right;
    }
    @media screen and (max-width: 900px) {
      display: block;
    }
  }
}

ul.blog-index {
  margin-left: 0;
}

.blog-img {
  display: block;
  margin: 1em auto;
}

.page-nav {
  max-width: $content-width;
  margin: 1em auto 3em auto;

  .page-nav-prev {
    float: left;
  }

  .page-nav-next {
    float: right;
  }
}