html {
  position: relative;
  min-height: 100%;
}

body {
  height: 100%;
  background-color: $main-background-colour;
  margin: 0 0 $footer-height;

  article {
    padding: 2em 0;
    max-width: $content-width;
    @media screen and (min-width: 1025px) {
      max-width: $wide-content-width;
    }
    margin: 0 auto;
  }
}

ol {
  margin-left: 50px;
  list-style-type: decimal;
}

ul {
  margin-left: 50px;
  list-style-type: square;
}

img {
  max-width: 100%;
}

.in-post-table {
  margin: 1em auto;
}

.in-post-table th, .in-post-table td {
  border: 1px solid #264A53;
}

.in-post-table th, .in-post-table td {
  padding: 5px 15px;
}

.in-post-table tbody {
  background-color: #002B36;
}

.clear {
  clear: both;
}