body > footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: $footer-height;
  width: 100%;
  background-color: $footer-background-colour;

  .copyright {
    width: 33%;
    display: inline-block;
  }

  .social {
    width: 33%;
    display: inline-block;
    margin: 0 auto;
    text-align: center;

    ul {
      list-style: none;
      display: inline;
      margin-left: 0px;

      li {
        display: inline;
        margin: 0 10px;

        a > i {
          margin-right: 5px;
        }
      }
    }
  }

  @media screen and (max-width: 740px){
    .copyright {
      display: block;
      width: 100%;
      text-align: center;
    }
    .social {
      display: block;
      width: 100%;
      text-align: center;
    }
  }

  @media screen and (max-width: 270px){
    .social ul li {
      display: block;
    }
  }
}