.highlight {
  line-height: 1.45em;
  font-size: 13px;
  border: 1px solid #05232b !important;
  font-family: Menlo,Monaco,"Andale Mono","lucida console","Courier New",monospace;
  margin: 1em 0;
  overflow-y: hidden;
  overflow-x: auto;
  border: 1px solid #05232b !important;

  &::-webkit-scrollbar {  height: .7em; background: rgba(#fff, .15); }
  &::-webkit-scrollbar-thumb:horizontal { background: rgba(#fff, .2);  -webkit-border-radius: 4px; border-radius: 4px }

  table td.code { 
    width: 100%; 

    pre {
      margin-left: 10px;
    }
  }

  .lineno {
    color: #93a1a1;
    text-align: right;
    font-size: 13px;
    line-height: 1.45em;
    padding: .8em !important;
    background: #073642;
    border-right: 1px solid #00232c !important;
  }
}

code {
  display: block;
  background-color: #002b36;
  line-height: 1.45em;
  font-size: 13px;
  border: 1px solid #05232b !important;
  font-family: Menlo,Monaco,"Andale Mono","lucida console","Courier New",monospace;
  padding: .8em 1em;
  margin: 1em 0;
  overflow-y: hidden;
  overflow-x: auto;
  border: 1px solid #05232b !important;
  color: #93a1a1;

  &::-webkit-scrollbar {  height: .7em; background: rgba(#fff, .15); }
  &::-webkit-scrollbar-thumb:horizontal { background: rgba(#fff, .2);  -webkit-border-radius: 4px; border-radius: 4px }
}