<!DOCTYPE html>
<!--[if IEMobile 7 ]><html class="no-js iem7"><![endif]-->
<!--[if lt IE 9]><html class="no-js lte-ie8"><![endif]-->
<!--[if (gt IE 8)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!--><html class="no-js" lang="en"><!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title><%= title %></title>
  <meta name="description" content="<%= description %>">
  <% if keywords && !keywords.empty? %><meta name="keywords" content="<%= keywords.join(", ") %>"><% end %>

  <!-- http://t.co/dKP3o1e -->
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="canonical" href="<%= url %>">
  <link href="/favicon.png" rel="icon">
  <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css">
  <link href="/atom.xml" rel="alternate" title="<%= site.title %>" type="application/atom+xml">
</head>
<body>
    <div id="wrapper">
      <header>
        <div id="main-navigation">
          <ul>
            <% for page in site.top_level_pages %>
              <% if page.title == "Index" %>
              <li><a href="/">About</a></li>
              <% else %>
              <li><a href="<%= page.relative_url %>"><%= page.title %> </a></li>
              <% end %>
            <% end %>
          </ul>
        </div>
      </header>
      <div id="content">
        <%= render_content %>
      </div>
    </div>
    <footer role="contentinfo"><span class="copyright">Copyright &copy; 2016 - Anthor Ltd</span>
      <span class="social">
        <ul>
          <li><a href="mailto:andrew@anthor.co.uk"><i class="fa fa-envelope"></i>Email</a></li>
          <li><a href="http://www.twitter.com/pyroka"><i class="fa fa-twitter"></i>Twitter</a></li>
          <li><a href="https://github.com/Pyroka"><i class="fa fa-github"></i>GitHub</a></li>
        </ul>
      </span>
  </footer>
</body>
</html>